<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Pilih Paket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-item ion-activatable ripple-parent" *ngFor="let item of booking_list">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-row (click)="select(item)">
      <ion-col size="6" >
        <h2 class="left-text">Rp {{ item.price }}</h2>
      </ion-col>
      <ion-col size="6" class="col-text">
        <span class="right-text">Luas <b>{{ item.luas }}m</b> </span> <br>
        <span>Durasi <b>{{ item.durasi }} Jam</b> </span><br>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button (click)="back()" expand="block" fill="outline" shape="round">
    Kembali
  </ion-button>
</ion-footer>
