.logo{
    position: absolute;
    top : 20px;
    left : 30px;
    width: 70px;
}
.btn-login{
    width: 160px;
    height: 50px;
}
.caption-1{
    position: absolute;
    left: 30px;
    top : 70px;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
 }
 .caption-2{
    margin-top: -14%;
    margin-left: 45%;
    margin-bottom: 10%;
 }
 .caption-3{
    margin-top: -14%;
    margin-left: 45%;
    margin-bottom: 10%;
 }