<ion-tabs selectedIndex="1">
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [root]="home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="order" [root]="order">
        <ion-badge *ngIf="on_badge"  color="danger" mode="ios" class="badge">1</ion-badge>
        <ion-label>Order</ion-label>
        <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile" [root]="profile">
        <ion-label>Person</ion-label>
        <ion-icon name="person"></ion-icon>
    </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>